input{
    height: 5px;
    width: 200px;
    justify-content: center;
    align-items: center;
    justify-self: center;
    margin: 10px;
   padding: 20px;
   border-radius: 5px;
   background-color: rgb(204, 237, 238);

    
}
.div1{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10px;
   padding: 20px;
   text-align: center;
   

}
.div2{
    display: flex;
   justify-content: center;
   align-items: center;
}
button{
    margin: 10px;
   padding: 20px;
   border-radius: 5px;
   background-color: rgb(241, 231, 219);
}
body{
    background-color: rgb(221, 220, 220);
}